/build/**                   linguist-generated
Dockerfile*.template        linguist-language=Dockerfile
*-Dockerfile-*              linguist-language=Dockerfile
supervisord.conf            linguist-language=ini
